.product-detail {
	border-bottom: none;
	display: inline-block;
	min-height: 400px;
	width: 100%;
}

.product-detail .product-detail-info .product-detail-wrap {
	padding: 0 10px;
}
.product-detail .product-detail-info h2 {
	padding-top: 0px;
}

.product-detail .product-detail-info .highlight {
	border-bottom: 1px solid #ffffff;
	clear: both;
	display: table;
	height: 51px;
	position: relative;
}
.product-detail .product-detail-info .highlight .highlight-text {
	display: table-cell;
	padding: 15px 0px 15px 10px;
	vertical-align: middle;
}
.product-detail .product-detail-info .highlight .highlight-icon {
	display: table-cell;
	height: 30px;
	padding: 10px 0px;
	vertical-align: middle;
	width: 12%;
}
.product-detail .product-detail-info .highlight .highlight-icon .svg-wrap {
	margin-right: 10px;
}
.product-detail .product-detail-info .highlight .highlight-icon .svg-wrap svg {
	fill: #fff;
	height: 100%;
	max-height: 40px;
	max-width: 40px;
	width: 100%;
}
.product-detail .product-detail-info .highlight .highlight-icon .svg-wrap svg path {
	fill: #fff;
}

.product-detail .product-detail-info .product-detail-img {
	display: none
}
.product-detail .product-detail-info .product-detail-content {
	padding: 10px 0 20px 0;
}

.product-detail .product-detail-video {
	overflow: hidden;
}
.product-detail .product-detail-video video {
	display: block;
	height: 750px; /*take this out when we have actual content*/
	margin: 0 auto;
	width: 400px; /*take this out when we have actual content*/
}
.product-detail .product-detail-video .bottle-image {
	display: block;
	margin: 0 auto;
	width: auto;
}

@media (max-width: 960px) {
	.product-detail .product-detail-info .product-detail-wrap {
		float: right;
		padding: 0 35px;
	}
}

@media (max-width: 650px) {
	.product-detail .col-mobile-12 {
		width: 100%;
	}
	.product-detail .product-detail-info .product-detail-wrap {
		float: left;
	}

	.product-detail .product-detail-info {
		float: right;
	}
	.product-detail .product-detail-info .product-detail-img {
		display: block
	}

	.product-detail .product-detail-video video {
		display: none;
	}
}
@media (max-width: 480px) {
	.product-detail .product-detail-info {
		overflow: hidden;
	}
	.product-detail .product-detail-info .product-detail-wrap {
		padding: 0 35px;
	}
	.product-detail .product-detail-info .highlight .svg-wrap svg {
		max-height: 24px;
	}
	.product-detail .product-detail-video .bottle-image {
		display: none;
	}
}
